<div *ngIf="showPagination">
  <nav aria-label="Page navigation" class="center">
    <ul class="pagination">
      <li (click)="goPrevious()" [ngClass]="{disabled : currentPage == 1}">
        <a aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let page of pages" [class.active]="page == currentPage">
        <a (click)="changePage(page)">{{page}}</a>
      </li>
      <li (click)="goNext()" [ngClass]="{disabled : currentPage == pages.length}">
        <a aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
