
<!--&lt;!&ndash; SoundCloud &ndash;&gt;-->

<div>
    <iframe *ngIf = "postAsset.assetType==='Audio'" id="sc-widget" width="100%" height="166" scrolling="no"
    [src]="sanitizeUrl()"></iframe>
</div>

<!-- Sprout Video -->
  <!--&lt;!&ndash; Would like to see stylized player, TODO: Mess with CSS for stylized player. &ndash;&gt;-->


  <!--&lt;!&ndash; Adding just an s after http serves content over https for AWS.-->
  <!--Tested only in v1 of Sprout API, subject to change. &ndash;&gt;-->
<div>
  <iframe *ngIf = "postAsset.assetType === 'Audio/Video'" class='sproutvideo-player' type='text/html'
          [src]='sanitizeUrl()' width='768'
          height='432'></iframe>
</div>
