
<div class="container add-top-margin">

    <form novalidate submit=next()>
    <ul>

        <li>
            <span>Author</span>
            <input class="meta-info" type="text" name="contributorAuthorLastName" #lastName >
            <input class="meta-info" type="text" name="contributorAuthorFirstName" #firstName >
            <button class="btn btn-secondary" type="button" (click)="addName(lastName.value, firstName.value)">Add More</button>
            <p>Authors: </p>
            <ul class="list-group">
                <li *ngFor="let name of names" >{{name}}
                    <button (click)="removeName(this.name)" type="button" class="close">
                        <span>&times;</span>
                    </button>
                </li>
            </ul>

            <br />
            <p>
            If you wish, enter the name of the author of this literacy narrative (you can click "Add More" to enter multiple names for a collaborative narrative). (Optional)
            </p>

        </li>

        <li>
            <span>Interviewers</span>
            <input class="meta-info" type="text" name="contributorInterviewerLastName" #lastNameInterviewer >
            <input class="meta-info" type="text" name="contributorInterviewerFirstName" #firstNameInterviewer >
            <button class="btn btn-secondary" type="button" (click)="addInterviewer(lastNameInterviewer.value, firstNameInterviewer.value)">Add More</button>
            <p>Interviewers: </p>
            <ul class="list-group">
                <li *ngFor="let interview of interviewers" >{{interview}}
                    <button (click)="removeInterviewer(this.interview)" type="button" class="close">
                        <span>&times;</span>
                    </button>
                </li>
            </ul>
            <br />
            <p>
            If you wish, enter the name of the interviewers of this literacy narrative (you can click "Add More" to enter multiple interviewers for a collaborative narrative). (Optional)
            </p>

        </li>

        <li>
          <span>Year-of-Birth</span>
          <input class="meta-info" type="text" name="creatorYearOfBirth" [(ngModel)]="birthYear"> <br />
          <p>
              To help other DALN users find narratives by people of a particular age group, please provide your year of birth (or years of birth for collaborative entries), using four digits. (Optional)
          </p>
        </li>

        <li>
          <span>Gender</span>
          <div class="form-group">
              <input type="radio" name="creatorGender" value="Male" [(ngModel)]="creatorGender" /><p>
                  Male
              </p>
              <input type="radio" name="creatorGender" value="Female" [(ngModel)]="creatorGender" /><p>
                  Female
              </p>
              <input type="radio" name="creatorGender" value="Other" [(ngModel)]="creatorGender" /><p>
                  Other (please specify) 
                <input type="text" name="gender" [(ngModel)]="gender"/>
              </p>

              
          </div>
          <br />
          <p>
             To help other DALN users find narratives by people of a particular gender or sexual orientation, please describe your gender (for example, male, female, transgender) and/or sexual orientation (for example: gay, bisexual, heterosexual). (Optional)
          </p>
        </li>

    </ul>

    </form>

    <button type="submit" class="btn btn-primary" (click)="next()">Next Step</button>

    <div class="alert alert-danger add-top-margin" role="alert" *ngIf="errorMessage != null">
        <strong> {{errorMessage}} </strong>
    </div>


</div>
