<form novalidate class="form-horizontal">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 pageTitle">
            LITERACY NARRATIVE AUTHOR INFORMATION
        </div>
    </div>
    <div class="row" style="margin-top:3em;">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Author(s)</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="name" (keyup.enter)="addName(nameInput)" placeholder="Last Name, First Name" #nameInput>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="addName(nameInput)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let name of names" class="badge" style="margin-bottom: .2em;">
            <span>{{name}}</span>
            <span class="glyphicon glyphicon-remove" (click)="removeName(this.name)"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Interviewer(s)</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="name" (keyup.enter)="addInterviewer(interviewerInput)" placeholder="Last Name, First Name" #interviewerInput>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="addInterviewer(interviewerInput)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let interviewer of interviewers" class="badge" style="margin-bottom: .2em;">
            <span>{{interviewer}}</span>
            <span class="glyphicon glyphicon-remove" (click)="removeInterviewer(this.interviewer)"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="birthYear" class="col-sm-2 control-label">Author Birth Year</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="birthYear" id="birthYear" placeholder="Ex. 1983" maxlength="4" [(ngModel)]="birthYear">
                    <div class="specialText">To help other DALN users find narratives by people of a particular age group, please provide your year
                        of birth</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="gender" class="col-sm-2 control-label">Author Gender</label>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input type="radio" name="creatorGender" id="creatorGender1" value="Female" [(ngModel)]="creatorGender"> Female
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="creatorGender" id="creatorGender2" value="Male" [(ngModel)]="creatorGender"> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="creatorGender" id="creatorGender3" value="Other" [(ngModel)]="creatorGender"> Other
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText center">
            <button class="btn btn-primary" [disabled]="!isValidForm()" type="button" (click)="next()">NEXT</button>
        </div>
    </div>
</form>