<div class="row">
  <div class="col-md-10 col-md-offset-1 pageTitle">
    SEARCH LITERACY NARRATIVES
  </div>
</div>
<div class="row" style="margin-top: 2.5em;">
  <div class="col-md-6 col-md-offset-3 basicText">
    <div class="input-group">
      <input type="text" class="form-control" id="name" (keyup.enter)="search()" placeholder="Search the DALN library..." [(ngModel)]="queryParam">
      <span class="input-group-btn">
        <button class="btn btn-primary" style="padding: 6px 4em;" type="button" (click)="search()">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <app-fancy-loader [loading]="loading"></app-fancy-loader>
  </div>
</div>
<div class="row basicText" style="margin-bottom: 0">
  <div class="col-md-10 col-md-offset-1 basicText">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      <strong>Oh snap!</strong> {{errorMessage}}
    </div>
    <post-list [postList]="currentPageResults"></post-list>
  </div>
</div>
<div class="row basicText">
  <div class="col-md-10 col-md-offset-1 basicText">
    <app-pagination *ngIf="currentPageResults && currentPageResults.length > 0" (pageSelectionEmitter)="receiveNewPageSelection($event)"
      [currentPage]="startParam" [resultsPerPage]="resultsPerPage" [totalRecords]="totalRecords"></app-pagination>
  </div>
</div>
