<div class="container">
  <h1>{{title}}</h1>

  <div class="about-info">
      <div id="about-image">
          <img src="assets/img/osugsu.jpg" alt="" />
      </div>


      <p>
     Co-sponsored by The Ohio State University and Georgia State University, The DALN (daln.osu.edu) is a publicly available archive of personal literacy narratives in a variety of formats (text, video, audio) that together provide a historical record of the literacy practices and values of contributors, as those practices and values change.
     </p>

     <p>
         The DALN invites people of all ages, races, communities, backgrounds, and interests to contribute stories about how — and in what circumstances — they read, write, and compose meaning, and how they learned to do so (or helped others learn).
     </p>

     <p>
         We welcome personal narratives about reading and composing all kinds of texts, both formal and informal: diaries, blogs, poetry, music and musical lyrics, fan zines, school papers, videos, sermons, gaming profiles, speeches, chatroom exchanges, text messages, letters, stories, photographs, etc. We also invite contributors to supplement their narratives with samples of their own writing (papers, letters, zines, speeches, etc.) and compositions (music, photographs, videos, sound recordings, etc.).
     </p>

     <!-- <div class="col-md-4 offset-md-4" id="postCounter">
        <h3> Total Number of Posts
            {{totalNumberOfPosts}}
        </h3>
     </div> -->
  </div>



</div>

<daln-footer></daln-footer>
