
# CodeFluent's attributes
/angular2
!Notes.md
!README.md


# Angular 2 (from Tour of Heroes)
system-config.js*
app/**/*.js
app/**/*.map
node_modules
jspm_packages
bower_components
aot/*
yarn.lock
dist/*


# WebStorm
.idea/

# API keys
key.ts
