<div class="row">
    <h1>Admin post approval</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Enter the PostId:
        </p>
        <div class="input-group">
            <input type="text" name="postId" #postId/>

            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" value="Submit" (keydown.enter)="approvePost(postId.value)" (click)="approvePost(postId.value)">Submit</button>
            </span>

        </div>
    </div>

</div>

<div class="row justify-content-center">
    <div class="col-md-2">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" (click)="getUnapproved()">Admin Post Pool</button>
          <!-- <button type="button" class="btn btn-secondary" (click)="getUserPostPool()">Your Post Pool</button> -->
        </div>
    </div>

</div>

<div class="row">
    <h3>{{postPoolTitle}}</h3>
</div>
<hr />

<!-- <div class="controls" *ngIf="postPoolTitle === 'Admins Post Pool' ">
    <button type="button" class="btn btn-danger" (click)="approveSelected()">Approve Posts</button>
</div> -->

<post-list [getdev]="getdev" [postList]="approval_list"></post-list>
<!-- <app-pagination (currentPageEmitter)="getResultHandler($event)" [startOffset]="startOffset" [endOffset]="endOffset" [resultList]="postService.unapproved_posts"></app-pagination> -->

<!-- Error message and loading components -->
<div class="row justify-content-center">
  <div class="col-md-6 alert alert-danger" *ngIf="errorMessage !== null">
      <p>
          {{errorMessage}}
      </p>
  </div>
 </div>

 <!-- <div class="row justify-content-center">
   <div class="col-md-6 alert alert-success" *ngIf="noAdminPostsMessage !== null">
       <p>
           {{noAdminPostsMessage}}
       </p>
   </div>
  </div> -->

 <div class="row add-top-margin justify-content-center">
     <div class="col-md-12">
         <app-fancy-loader [loading]="loading" [failed]="failed"></app-fancy-loader>
     </div>
 </div>
