<div class="container add-top-margin">
    <h1>Licensing Options</h1>
    <p> Please assign one of the Creative Commons Media Licenses to your post.</p>

    <div class="col-lg-6">
        <form [formGroup]="licenseForm" novalidate (submit)=next()>
            <select required [(ngModel)]="license" formControlName="license">
                <option>
                    Creative Commons CC0
                </option>
                <option>
                    Creative Commons BY
                </option>
                <option>
                    Creative Commons BY-SA
                </option>
                <option>
                    Creative Commons BY-ND
                </option>
                <option>
                    Creative Commons BY-NC
                </option>
                <option>
                    Creative Commons BY-NC-SA
                </option>
                <option>
                    Creative Commons BY-NC-ND
                </option>
            </select>

        </form>
    </div>


    <div class="col-lg-6 add-top-margin">
        <button class="btn btn-primary" type="submit" [disabled]="!licenseForm.valid" (click)="next()">Next Step</button>

        <div class="alert alert-info add-top-margin" role="alert" *ngIf="!licenseForm.controls.license.valid">
            <strong > A license is required to make a post.</strong>
        </div>
    </div>



</div>

<!-- <app-result></app-result> -->
