<div class="row">
    <div class="col-md-10 col-md-offset-1 pageTitle">
        LICENSING OPTIONS
    </div>
</div>
<div class="row" style="margin-top:3em;">
    <div class="col-md-8 col-md-offset-2 basicText" style="margin-bottom: 1em;">
        <p>
            Please assign one of the Creative Commons Media Licenses to your literacy narrative
        </p>
        <p>
            <span class="subTitle">CC0 | </span>
            You waive all copyrights and related or neighboring rights that you may have in all jurisdictions worldwide, such as your
            moral rights (to the extent waivable), your publicity or privacy rights, rights you have protecting against unfair
            competition, and database rights and rights protecting the extraction, dissemination and reuse of data.
        </p>
        <p>
            <span class="subTitle">BY | </span>
            This license lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you
            for the original creation
        </p>
        <p>
            <span class="subTitle">BY-SA | </span>
            This license lets others remix, tweak, and build upon your work even for commercial purposes, as long as they credit you
            and license their new creations under the identical terms.
        </p>
        <p>
            <span class="subTitle">BY-ND | </span>
            This license allows for redistribution, commercial and non-commercial, as long as it is passed along unchanged and in whole,
            with credit to you
        </p>
        <p>
            <span class="subTitle">BY-NC | </span>
            This license lets others remix, tweak, and build upon your work non-commercially, and although their new works must also
            acknowledge you and be non-commercial, they don’t have to license their derivative works on the same terms.
        </p>
        <p>
            <span class="subTitle">BY-NC-SA | </span>
            This license lets others remix, tweak, and build upon your work non-commercially, as long as they credit you and license
            their new creations under the identical terms.
        </p>
        <p>
            <span class="subTitle">BY-NC-ND | </span>
            This license is the most restrictive of our six main licenses, only allowing others to download your works and share them
            with others as long as they credit you, but they can’t change them in any way or use them commercially.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 basicText">
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">License
                <span class="glyphicon glyphicon-asterisk"></span>
            </label>
            <div class="col-sm-8">
                <select class="form-control" name="license" [(ngModel)]="license">
                    <option>
                        Creative Commons CC0
                    </option>
                    <option>
                        Creative Commons BY
                    </option>
                    <option>
                        Creative Commons BY-SA
                    </option>
                    <option>
                        Creative Commons BY-ND
                    </option>
                    <option>
                        Creative Commons BY-NC
                    </option>
                    <option>
                        Creative Commons BY-NC-SA
                    </option>
                    <option>
                        Creative Commons BY-NC-ND
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 2em 0;">
    <div class="col-md-8 col-md-offset-2 basicText center">
        <button class="btn btn-primary" [disabled]="!license" type="button" (click)="next()">NEXT</button>
    </div>
</div>
<!-- <app-result></app-result> -->