<div class="row">
        <div class="col-md-10 col-md-offset-1 pageTitle">
            <span>LITERACY NARRATIVE DETAILS</span>
            <button type="button" *ngIf="showAdminUI && postDetail?.isPostNotApproved && loading == false" class="btn btn-primary pull-right" (click)="approvePost()">APPROVE</button>
            <button type="button" *ngIf="showAdminUI && !postDetail?.isPostNotApproved && loading === false" class="btn btn-primary pull-right" (click)="unapprovePost()">UNAPPROVE</button>
        </div>
</div>
<div class="row" style="margin-top:1em;" *ngIf="approvalMessage || unapprovalMessage.length > 0">
    <div class="col-md-10 col-md-offset-1 center">
        <div class="alert alert-success" role="alert">
            <span>{{approvalMessage}}</span>
            <span>{{unapprovalMessage}}</span>
        </div>
    </div>
</div>
<div class="row" style="margin-top:2em;">
        <div class="col-md-5 col-md-offset-1 basicText" style="margin-bottom: 1em;">
            <p *ngIf="!postDetail && loading === false">SORRY! This literacy narrative does not exist</p>
            <p>
                <span class="subTitle">LITERACY NARRATIVE TITLE | </span>
                {{postDetail?.title}}
            </p>
            <p>
                <span class="subTitle">DESCRIPTION | </span>
                {{postDetail?.description}}
            </p>
            <p>
                <span class="subTitle">RIGHTS CONSENT | </span>
                {{postDetail?.rightsConsent}}
            </p>
            <p>
                <span class="subTitle">LICENSE TYPE | </span>
                {{postDetail?.license}}
            </p>
            <p>
                <span class="subTitle">EMAIL ADDRESS | </span>
                {{postDetail?.email}}
            </p>
            <p>
                <span class="subTitle">AUTHOR(S) | </span>
                <span *ngFor="let author of postDetail?.contributorAuthor; let last = last">
                    <span>{{author}}</span>
                    <span *ngIf="!last">,</span>
                </span>
            </p>
            <p>
                <span class="subTitle">INTERVIEWER(S) | </span>
                <span *ngFor="let interviewer of postDetail?.contributorInterviewer; let last = last">
                    <span>{{interviewer}}</span>
                    <span *ngIf="!last">,</span>
                </span>
            </p>
            <p>
                <span class="subTitle">AUTHOR BIRTH YEAR | </span>
                {{postDetail?.creatorYearOfBirth}}
            </p>
            <p>
                <span class="subTitle">AUTHOR GENDER | </span>
                {{postDetail?.creatorGender}}
            </p>
            <p>
                <span class="subTitle">DATE OF SUBMISSION | </span>
                {{postDetail?.dateSubmitted | date: 'MMMM d, y'}}
            </p>
            <p>
                <span class="subTitle">SUBJECT KEYWORDS | </span>
                <span *ngFor="let subj of postDetail?.subject; let last = last">
                    <span>{{subj}}</span>
                    <span *ngIf="!last">,</span>
                </span>
            </p>
            <p>
                <span class="subTitle">DECADES COVERED | </span>
                <span *ngFor="let period of postDetail?.coveragePeriod; let last = last">
                    <span>{{period}}</span>
                    <span *ngIf="!last">,</span>
                </span>
            </p>
            <p>
                <span class="subTitle">NATIONALITIES | </span>
                <span *ngFor="let nationality of data?.coverageNationality; let last = last">
                    <span>{{nationality}}</span>
                    <span *ngIf="!last">,</span>
                </span>
            </p>
            <p>
                <span class="subTitle">REGIONS | </span>
                <span *ngFor="let region of data?.coverageRegions; let last = last">
                    <span>{{region}}</span>
                    <span *ngIf="!last">,</span>
                </span>
            </p>
            <p>
                <span class="subTitle">STATE OR PROVINCES | </span>
                <span *ngFor="let state of data?.coverageStateProvince; let last = last">
                    <span>{{state}}</span>
                    <span *ngIf="!last">,</span>
                </span>
            </p>
            <p>
                <span class="subTitle">LANGUAGES | </span>
                <span *ngFor="let lang of data?.language; let last = last">
                    <span>{{lang}}</span>
                    <span *ngIf="!last">,</span>
                </span>
            </p>
        </div>
        <div class="col-md-5 basicText" style="margin-bottom: 1em;">
            <div *ngFor="let asset of postDetail?.assetList">
                <div *ngIf="asset.assetType == 'Audio/Video' || asset.assetType == 'Audio'">
                    <div class="audioVideoText">{{asset?.assetType}} File: {{asset?.assetName}}</div>
                    <app-player [postAsset]="asset" (assetFailure)="checkAssets()"></app-player>
                </div>
            </div>
            <div class="downloadFileList">
                <div class="subTitle">DOWNLOAD FILE LIST</div>
                <table *ngIf="postDetail?.assetList.length > 0" class="table fileBox">
                        <tbody>
                            <tr *ngFor="let asset of postDetail?.assetList; let i = index">
                                <td><a href="{{postDetail.assetList[i].assetS3Link}}" download>{{postDetail.assetList[i].assetName}}</a></td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-10 col-md-offset-1 center">
                <app-fancy-loader class="basicText" [loading]="loading" [failed]="failed"></app-fancy-loader>
            </div>
        </div>


<!-- 

        <div *ngIf="showAdminUI === true && assetNeedsReupload == true" class="col-md-4">
          <hr/>

          <strong>{{assetFailedButtonText}}</strong>
          <button [hidden]="assetFailedButtonText === 'Reuploaded all assets'" [disabled]="assetFailedButtonText === 'Reuploading Asset(s)...'"
            type="button" class="btn btn-danger" (click)="handleReupload()">Click to Reupload</button>
        </div>


  <!-- <div *ngIf="showAdminUI == true && assetNeedsReupload == true && assetFailedButtonText !== 'Reuploaded all assets'" class="alert alert-danger"
    role="alert">
    <strong>Failed asset upload.</strong> Asset(s) failed to upload to relevant services, please resolve by clicking the reupload
    button below.
  </div>

  <div class="post-approval-message" *ngIf="approvalMessage.length !== 0">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{approvalMessage}}</strong>
    </div>
  </div>

  <div class="post-approval-message" *ngIf="unapprovalMessage.length !== 0">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{unapprovalMessage}}</strong>
    </div>
  </div> -->



  <!-- ABOVE DOESNT WORK ANYMORE SINCE I PLANNED FOR ASSET TO BE NULL. NEED TO REFACTOR. -->