<div class="row">
  <div class="col-md-10 col-md-offset-1 pageTitle">
    <span>LITERACY NARRATIVE DETAILS</span>

    <div *ngIf="showAdminUI && postDetail?.isPostNotApproved && loading == false">
        <div *ngIf="postDetail?.isPostRejected == false">
            <!-- when post not rejected -->
            <button type="button" class="btn pull-right btn-dangerous"
            (click)="handleRejectButtonClicked()">REJECT</button>
            <button type="button" class="btn btn-primary pull-right right-button-margin"
            (click)="approvePost()">APPROVE</button> 
        </div>
        <div *ngIf="postDetail?.isPostRejected == true">
            <!-- when post is rejected -->
            <button type="button" class="btn pull-right btn-dangerous"
            (click)="handleUndoButtonClicked()">UNDO</button>
        </div>
    </div>
    <button type="button" *ngIf="showAdminUI && !postDetail?.isPostNotApproved && loading === false" class="btn btn-primary pull-right"
      (click)="unapprovePost()">UNAPPROVE</button>
  </div>
</div>
<div class="row" style="margin-top:1em;" *ngIf="approvalMessage || unapprovalMessage || assetWarning">
  <div class="col-md-10 col-md-offset-1 center">
    <div class="alert alert-success" role="alert" *ngIf="approvalMessage || unapprovalMessage">
      <span>{{approvalMessage}}</span>
      <span>{{unapprovalMessage}}</span>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="assetWarning">
      <span>{{assetWarning}}</span>
    </div>
  </div>
</div>
<div class="row" style="margin-top:2em;">
  <div class="col-md-5 col-md-offset-1 basicText uppercase" style="margin-bottom: 1em;">
    <p *ngIf="!postDetail && loading === false">OH SNAP! This literacy narrative does not exist</p>
    <p>
      <span class="subTitle">LITERACY NARRATIVE TITLE</span>
      {{postDetail?.title}}
    </p>
    <p *ngIf="postDetail && postDetail.description">
      <span class="subTitle">DESCRIPTION</span>
      {{postDetail?.description}}
    </p>
    <p *ngIf="postDetail && postDetail.rightsConsent">
      <span class="subTitle">RIGHTS CONSENT</span>
      {{postDetail?.rightsConsent}}
    </p>
    <p *ngIf="postDetail && postDetail.license">
      <span class="subTitle">LICENSE TYPE</span>
      {{postDetail?.license}}
    </p>
    <p *ngIf="postDetail && postDetail.email && showAdminUI">
      <span class="subTitle">EMAIL ADDRESS</span>
      {{postDetail?.email}}
    </p>
    <p *ngIf="postDetail && postDetail.contributorAuthor">
      <span class="subTitle">AUTHOR(S)</span>
      <span *ngFor="let author of postDetail?.contributorAuthor; let last = last">
        <span>{{author}}</span>
        <span *ngIf="!last">,</span>
      </span>
    </p>
    <p *ngIf="postDetail && postDetail.contributorInterviewer">
      <span class="subTitle">INTERVIEWER(S)</span>
      <span *ngFor="let interviewer of postDetail?.contributorInterviewer; let last = last">
        <span>{{interviewer}}</span>
        <span *ngIf="!last">,</span>
      </span>
    </p>
    <p *ngIf="postDetail && postDetail.creatorYearOfBirth">
      <span class="subTitle">AUTHOR BIRTH YEAR</span>
      {{postDetail?.creatorYearOfBirth}}
    </p>
    <p *ngIf="postDetail && postDetail.creatorGender">
      <span class="subTitle">AUTHOR GENDER</span>
      {{postDetail?.creatorGender}}
    </p>
    <p *ngIf="postDetail && postDetail.dateSubmitted">
      <span class="subTitle">DATE OF SUBMISSION</span>
      {{postDetail?.dateSubmitted}}
    </p>
    <p *ngIf="postDetail && postDetail.subject">
      <span class="subTitle">SUBJECT KEYWORDS</span>
      <span *ngFor="let subj of postDetail?.subject; let last = last">
        <span>{{subj}}</span>
        <span *ngIf="!last">,</span>
      </span>
    </p>
    <p *ngIf="postDetail && postDetail.coveragePeriod">
      <span class="subTitle">DECADES COVERED</span>
      <span *ngFor="let period of postDetail?.coveragePeriod; let last = last">
        <span>{{period}}</span>
        <span *ngIf="!last">,</span>
      </span>
    </p>
    <p *ngIf="postDetail && postDetail.coverageNationality">
      <span class="subTitle">NATIONALITIES</span>
      <span *ngFor="let nationality of postDetail?.coverageNationality; let last = last">
        <span>{{nationality}}</span>
        <span *ngIf="!last">,</span>
      </span>
    </p>
    <p *ngIf="postDetail && postDetail.coverageRegions">
      <span class="subTitle">REGIONS</span>
      <span *ngFor="let region of postDetail?.coverageRegions; let last = last">
        <span>{{region}}</span>
        <span *ngIf="!last">,</span>
      </span>
    </p>
    <p *ngIf="postDetail && postDetail.coverageStateProvince">
      <span class="subTitle">STATE OR PROVINCES</span>
      <span *ngFor="let state of postDetail?.coverageStateProvince; let last = last">
        <span>{{state}}</span>
        <span *ngIf="!last">,</span>
      </span>
    </p>
    <p *ngIf="postDetail && postDetail.language">
      <span class="subTitle">LANGUAGES</span>
      <span *ngFor="let lang of postDetail?.language; let last = last">
        <span>{{lang}}</span>
        <span *ngIf="!last">,</span>
      </span>
    </p>
  </div>
  <div class="col-md-5 basicText" style="margin-bottom: 1em;">
    <div *ngFor="let asset of postDetail?.assetList">
      <!-- <div *ngIf="asset.assetType == 'Audio/Video' || asset.assetType == 'Audio'"> -->
      <div>
        <div class="audioVideoText">{{asset?.assetType}} File: {{asset?.assetName}}</div>
        <app-player [postAsset]="asset"></app-player>
      </div>
    </div>
    <div class="downloadFileList" *ngIf="showAdminUI === true">
      <div class="subTitle">
        DOWNLOAD FILE LIST
      </div>
      <table *ngIf="postDetail?.assetList?.length > 0" class="table fileBox">
        <tbody>
          <tr *ngFor="let asset of postDetail?.assetList; let i = index;">
            <td>
              <a *ngIf="showAsset(postDetail.assetList[i]) === true" href="{{postDetail.assetList[i].assetS3Link}}" download>{{postDetail.assetList[i].assetName}}</a>
              <a *ngIf="showAsset(postDetail.assetList[i]) === false" class="isDisabled">{{postDetail.assetList[i].assetStatus}}.....{{postDetail.assetList[i].assetName}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="downloadFileList" *ngIf="showAdminUI === false && isText === true">
      <div class="subTitle">
        DOWNLOAD FILE LIST
      </div>
      <table *ngIf="postDetail?.assetList?.length > 0" class="table fileBox">
        <tbody>
          <tr *ngFor="let asset of postDetail?.assetList; let i = index;">
            <td>
              <a *ngIf="showAsset(postDetail.assetList[i]) === true" href="{{postDetail.assetList[i].assetS3Link}}" download>{{postDetail.assetList[i].assetName}}</a>
              <a *ngIf="showAsset(postDetail.assetList[i]) === false" class="isDisabled">{{postDetail.assetList[i].assetStatus}}.....{{postDetail.assetList[i].assetName}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 center">
      <app-fancy-loader class="basicText" [loading]="loading" [failed]="failed"></app-fancy-loader>
    </div>
  </div>