<div class="container">
  <h1>{{title}}</h1>


    <div class="contact-info">
        <p>
            <strong>Ben McCorkle</strong> is an associate professor of English and teaches courses in composition, rhetoric, and digital media studies, primarily on The Ohio State University’s Marion campus. He is the author of the book <span class="italic">
            Rhetorical Delivery as Technological Discourse: A Cross-Historical Study</span>, as well as several articles in publications including <span class="italic"> Computers and Composition Online, Rhetoric Society Quarterly, and Composition Studies</span>. He is currently serving as Co-Director of the DALN. Email Ben: <a href="mailto:mccorkle.12@osu.edu">mccorkle.12@osu.edu</a>.
       </p>

       <p>
           <strong>Michael Harker </strong> is an associate professor of English and teaches courses in composition, rhetoric, and literacy studies at Georgia State University. He is the author of <span class="italic">The Lure of Literacy: A Critical Reception of the Compulsory Composition Debate (SUNY Press)</span>. He has published articles in <span class="italic"> College Composition and Communication, Literacy in Composition Studies, Computers and Composition: An International Journal</span>, and <span class="italic">Computers and Composition Online</span>. He is a Co-Director of the Digital Archive of Literacy Narratives (DALN). Email Michael: <a href="mailto:mharker@gsu.edu">mharker@gsu.edu</a>.
       </p>
    </div>

</div>
<daln-footer></daln-footer>
