
<div class="container responsive_home">

    <!-- Search Component -->
    <app-search2 (searchResults)="displayResults($event)"></app-search2>

    <app-slider *ngIf="searchPosts.length === 0"></app-slider>


</div>


<div class="container responsive_home">

        <div class="featured-post-list" *ngIf="searchPosts.length === 0">
            <h3>Featured Posts</h3>
            <hr />
            <post-list [postList]="posts" ></post-list>
        </div>


        <div class="search-post-list" *ngIf="searchPosts.length > 0">
            <button (click)="clearSearch()" class="btn btn-primary" type="submit">Clear Search</button>
            <!-- <app-pagination (currentPageOffset)="calculateOffset($event)" [startOffset]="startOffset"></app-pagination> -->
            <app-pagination></app-pagination>
        </div>


</div>

<div class="container responsive_home">
    <div class="center add-top-margin">
      <app-fancy-loader [loading]="loading" [failed]="failed"></app-fancy-loader>
    </div>
</div>




<daln-footer></daln-footer>
<router-outlet></router-outlet>
