<div class="row">
    <div class="col-md-10 col-md-offset-1 pageTitle">
        UPLOAD FILES
    </div>
</div>
<div class="row" style="margin-top:3em;">
    <div class="col-md-8 col-md-offset-2 basicText" style="margin-bottom: 1em;">
        <p>
            We recommend that you use the following file formats for compatibility with our system and for accessibility with our end
            users:
        </p>
        <p>
            <span class="subTitle">TEXT | </span>
            Adobe Acrobat (.pdf), Rich Text (.rtf), Open Document Text (.odt), Microsoft Word (.doc or .docx), plain text (.txt or .text)
        </p>
        <p>
            <span class="subTitle">IMAGES | </span>
            JPEG (.jpg or .jpeg), PNG (.png), GIF (.gif), TIFF (.tif or .tiff)
        </p>
        <p>
            <span class="subTitle">AUDIO | </span>
            MP3 (.mp3), MPEG4 Audio (.m4a), WAV (.wav)
        </p>
        <p>
            <span class="subTitle">VIDEO | </span>
            MPEG4 Video (.m4v or .mp4), QuickTime (.mov), Audio/Video Interleave (.avi), Windows Media Video (.wmv)
        </p>
        <p>
            <span class="subTitle">WEBPAGES | </span>
            HTML (.htm or .html)
        </p>
    </div>
</div>
<div class="row center" *ngIf="errorMessage != null">
    <div class="col-md-8 col-md-offset-2 basicText">
        <div class="alert alert-danger" role="alert">
            <strong>ERROR:</strong> {{errorMessage}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-2 basicText center">
        <div class="fileUpload btn btn-primary">
            <span>SELECT FILES</span>
            <input type="file" class="upload" (change)="setMedia($event)" name="file" multiple>
        </div>
    </div>
    <div class="col-md-5 basicText" style="margin-bottom: 1em;">
        <div class="subTitle">Files Selected</div>
        <table *ngIf="fileInfos.length > 0" class="table fileBox">
            <tbody>
                <tr *ngFor="let fileinfo of fileInfos">
                    <td>{{fileinfo.file.name}}</td>
                    <td style="text-align: right;">{{fileinfo.progress | percent}}</td>
                    <td style="text-align: right;">
                        <span (click)="removeMedia(fileinfo)" class="glyphicon glyphicon-remove"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="fileInfos.length > 0">
            <button class="btn btn-secondary pull-right" type="button" (click)="uploadFiles()">UPLOAD FILES</button>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 2em;">
    <div class="col-md-8 col-md-offset-2 basicText center">
        <button class="btn btn-primary" [disabled]="!nextEnabled" type="button" (click)="next()">NEXT</button>
    </div>
</div>