
<div class="col-md-6 add-top-margin">
    <p>
        Changes the number of pages to stay ahead of the user. Determines the amount of data to load in order to stay ahead of the user.

        i.e. Staying 10 pages ahead of user x 10 results per page (user specified) = 100 posts to stay ahead of user

        i.e. Staying 50 pages ahead of user x 10 results per page = 500 posts to stay ahead of user.

        i.e. Staying 10 pages ahead of user x 100 results per page = 1000 posts to stay ahead of user.

        Will affect loading search page times at larger values and decrease at smaller values. Default is set to 10.
    </p>
    <div class="input-group">
        <input type="number" class="form-control"  min="1" max="100" #pageHead [value]="searchService.pageHead"/>

        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" (keydown.enter)="changePageHead(pageHead.value)" (click)="changePageHead(pageHead.value)">Change Page Head</button>
        </span>

    </div>

</div>
