
<div class="container">

    <form [formGroup]="form" novalidate (submit)="next()">
    <ul>

        <li>
            <span>Title</span>
            <input class="meta-info" type="text" name="title" formControlName="title" [(ngModel)]='title'> <br />
            <p>
            To help other DALN users find your literacy narrative, please provide a brief title for your literacy narrative. (Required)
            </p>
            <div class="error" *ngIf="form.get('title').touched && form.get('title').hasError('required')">
              <strong>Title is required</strong>
            </div>
        </li>

        <li>
          <span>Description</span>
          <input class="meta-info" type="text" name="description" formControlName="description" > <br />
          <p>
            To help other DALN users find your literacy narrative, please describe your literacy narrative briefly in this box (Optional).
          </p>
        </li>

        <li>
          <span>Date Created</span>
          <!-- <app-datepicker></app-datepicker> -->
        <br />
          <p>
            Please provide the date on which you created your literacy narrative -- not necessarily the date on which you are filling out this form. (Optional)
          </p>
        </li>

        <p>
            NOTE: If you would like to assign a Creative Commons (CC) license to your narrative, thereby retaining ownership while specifying the uses that others may make of your narrative, please visit the Creative Commons site at http://creativecommons.org/choose/, choose a license, then place a license notification to this field, including the name of the CC license (e.g., “My Narrative’s Title” by Lewis Ulman is licensed under a Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License).

            If you wish to contribute your narrative under a Deed of Gift, thereby transferring ownership of your narrative to the DALN, which will establish its own guidelines for usage, you will have an opportunity to do so at the end of the submission process. (Optional)
        </p>

        <li>
          <span>Subject Keyword</span>
          <input class="meta-info" type="text" name="subject" ngModel> <br />
          <p>
            To help other DALN users find your literacy narrative, please enter appropriate subject keywords or phrases. You may enter as many as you like, but you should enter only one keyword or phrase at a time, then click "Add More" to enter additional keywords. (Optional)
          </p>
        </li>

        <li>
          <span>Decades covered</span>
          <select></select><br />
          <p>
              Please indicate the decades referred to in your literacy narrative. You can choose as many as necessary, but you may need to hold down the Shift or CTRL key to select multiple choices. (Optional)
          </p>
        </li>

        <li>
          <span>Nationality</span>
          <input class="meta-info" type="text" name="nation"> <br />
          <p>
              To help other DALN users find narratives by people of a particular nationality, please list your nationality/nationalities during the period referred to in your narrative. (Optional)
          </p>
        </li>

        <li>
          <span>Region</span>
          <input class="meta-info" type="text" name="region"> <br />
          <p>
            To help other DALN users find narratives from particular regions (e.g., New England, Rocky Mountains, Great Plains) please list the region(s) in which the events described in your narrative took place. (Optional)
          </p>
        </li>

        <li>
          <span>State or Province</span>
          <select></select><br />
          <p>
            To help other DALN users find narratives from your state or province, please list the state(s) or province(s) in which the events described in your narrative took place. (Optional)
          </p>
        </li>

        <li>
          <span>Other Geographical Information</span>
          <input class="meta-info" type="text" name="state"> <br />
          <p>
            Please provide any further description of the places referred to in your narrative that you consider important (e.g., urban, suburban, rural, inner-city Detroit). (Optional)
          </p>
        </li>

        <li>
          <span>Language</span>
          <input class="meta-info" type="text" name="lanugage"> <br />
          <p>
            Please enter the language(s) used or referred to in your literacy narrative. (Optional)
          </p>
        </li>


    </ul>

    </form>

    <button type="submit" [disabled]="form.invalid" (click)="next()">Next Step</button>


</div>
