<form novalidate class="form-horizontal">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 pageTitle">
            LITERACY NARRATIVE INFORMATION
        </div>
    </div>
    <div class="row" style="margin-top:3em;">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Narrative Title
                    <span class="glyphicon glyphicon-asterisk"></span>
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="title" id="title" maxlength="150" [(ngModel)]="title">
                    <div class="specialText">Please enter a meaningful title for your literacy narrative</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description
                    <span class="glyphicon glyphicon-asterisk"></span>
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="description" maxlength="300" id="description" [(ngModel)]="description">
                    <div class="specialText">Please briefly describe your literacy narrative and highlight it's main points</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="dateCreated" class="col-sm-2 control-label">Date of Creation
                    <span class="glyphicon glyphicon-asterisk"></span>
                </label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" name="dateCreated" id="dateCreated" [(ngModel)]="dateCreated">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Narrative Subject Keywords
                    <span class="glyphicon glyphicon-asterisk"></span>
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="subject" #subjectInput (blur)="this.changeDetector.detectChanges()" (keyup.enter)="addSubject(subjectInput)">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="addSubject(subjectInput)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                    <div class="specialText">Please enter appropriate subject keywords or phrases related to your narrative E.g. Poetry, Traveling
                        Abroad, Women's Rights </div>
                </div>
            </div>
        </div>
        <div *ngFor="let subject of subjects" class="badge" style="margin-bottom: .2em;">
            <span>{{subject}}</span>
            <span class="glyphicon glyphicon-remove" (click)="removeSubject(this.subject)"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="decades" class="col-sm-2 control-label">Decades Covered
                    <span class="glyphicon glyphicon-asterisk"></span>
                </label>
                <div class="col-sm-8">
                    <select multiple class="form-control" name="decades" id="decades" [(ngModel)]="period">
                        <option *ngFor="let decade of decadeOptions" [ngValue]="decade">
                            {{decade}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nationalities
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="subject" #nationInput (blur)="this.changeDetector.detectChanges()" (keyup.enter)="addNation(nationInput)">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="addNation(nationInput)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                    <div class="specialText">Please list the nationalities covered during the decades selected</div>
                </div>
            </div>
        </div>
        <div *ngFor="let nation of nations" class="badge" style="margin-bottom: .2em;">
            <span>{{nation}}</span>
            <span class="glyphicon glyphicon-remove" (click)="removeNation(this.nation)"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Regions
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="region" #regionInput (blur)="this.changeDetector.detectChanges()" (keyup.enter)="addRegion(regionInput)">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="addRegion(regionInput)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                    <div class="specialText">Please list the regions in which the events described in your narrative took place. E.g. New England,
                        Rocky Mountains, Great Plains</div>
                </div>
            </div>
        </div>
        <div *ngFor="let region of regions" class="badge" style="margin-bottom: .2em;">
            <span>{{region}}</span>
            <span class="glyphicon glyphicon-remove" (click)="removeRegion(this.region)"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">State or Province
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="state" #stateInput (blur)="this.changeDetector.detectChanges()" (keyup.enter)="addState(stateInput)">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="addState(stateInput)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                    <div class="specialText">Please list the states or provinces in which the events described in your narrative took place. E.g.
                        New York, Georgia, Nova Scotia</div>
                </div>
            </div>
        </div>
        <div *ngFor="let state of states" class="badge" style="margin-bottom: .2em;">
            <span>{{state}}</span>
            <span class="glyphicon glyphicon-remove" (click)="removeState(this.state)"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Language(s)
                    <span class="glyphicon glyphicon-asterisk"></span>
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="language" #languageInput (blur)="this.changeDetector.detectChanges()" (keyup.enter)="addLanguage(languageInput)">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="addLanguage(languageInput)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let language of languages" class="badge" style="margin-bottom: .2em;">
            <span>{{language}}</span>
            <span class="glyphicon glyphicon-remove" (click)="removeLanguage(this.language)"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText center">
            <button class="btn btn-primary" [disabled]="!isValidForm()" type="button" (click)="next()">NEXT</button>
        </div>
    </div>
</form>