<div class="row">
    <div class="col-md-12 basicText" style="margin-bottom: 1em;">
        <p>
            <span class="subTitle">Admin Overview Coming Soon </span>

        </p>
    </div>
    <button type="button" class="btn btn-secondary" (click)="restartWorker()" [disabled]="sending_command">RESTART SERVICE</button>
    <button type="button" class="btn btn-secondary" (click)="log()" [disabled]="sending_command">SERVICE LOG</button>
    <article class="card">
        <div class="post-header">
            <div class="hover-post">
                Operation log
            </div>
          </div>
          <div class="card-block" style="white-space: pre-wrap;">
            {{operation_log}}
          </div>
    </article>
</div>