<div *ngIf="postItem">
  <article class="card" [ngClass]="{'card-outline-danger': assetFailureWarning != null && showAdminUI == true }">
    <div class="post-header">
      <div class="hover-post">
        <a (click)="goToDetails()">
          <div>
              {{postItem?.title}}
              <span *ngIf="postItem?.isPostRejected" class="rejected-label">Rejected</span>
          </div>
        </a>
      </div>
    </div>
    <div class="card-block">
      <!-- <app-player [postAsset]="getPreview(postItem.assetList)" [thumb]="true" (assetFailure)="issueAssetWarning($event)"></app-player> -->
      <div class="post-desc">
        <p class="postAuthor">
          <span *ngIf="postItem.contributorAuthor">{{postItem.contributorAuthor}}</span>
          <span *ngIf="!postItem.contributorAuthor">Anonymous Author</span>
        </p>
        <p>
          <span *ngIf="postItem.description">{{postItem.description}}</span>
          <span *ngIf="!postItem.description">No description was provided for this literacy narrative</span>
        </p>
      </div>
    </div>
  </article>
</div>
