<!-- <div class="postItem col-xs-3" *ngIf="postItem">
  <a class="thumbnail" [routerLink]="['/detail', postItem.postId]">

    <app-player
                [postAsset]="getPreview( postItem.assetList)" [thumb]="true"></app-player>
  </a>
<a [routerLink]="['/detail', postItem.postId]">
  <div class="desc">
    <p class="post_title">{{postItem.title}}</p>
    <p class="post_desc"><em>{{postItem.description}}</em></p>
  </div>
</a>
</div> -->

<div class="postItem" *ngIf="postItem">
    <article class="card">
        <header class="post-header">
            <a class="thumbnail" [routerLink]="['/detail', postItem.postId]">
                <h3>{{postItem?.title}}</h3>
            </a>
        </header>
        <div class="card-block">
                <app-player [postAsset]="getPreview(postItem.assetList)" [thumb]="true"></app-player>
                <p>{{postItem?.description}}</p>
        </div>
    </article>
</div>

<router-outlet></router-outlet>
