<!-- NAVIGATION BAR AND ROUTER OUTLET -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand navbarBrandTitle" routerLink="/home">
                <img src="assets/img/daln-logo.png" class="dalnLogo">
                <span>Digital Archive of Literacy Narratives</span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li routerLink="/home" routerLinkActive="active">
                    <a>HOME</a>
                </li>
                <li routerLink="/about" routerLinkActive="active">
                    <a>ABOUT DALN</a>
                </li>
                <li routerLink="/create" routerLinkActive="active">
                    <a>SUBMIT A LITERACY NARRATIVE</a>
                </li>
                <li routerLink="/contact" routerLinkActive="active">
                    <a>CONTACT US</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                        ADMIN LOGIN
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a [routerLink]="['/admin']" class="admin-link">Admin Panel</a>
                        </li>
                        <li class="divider responsive_divider"></li>
                        <li>
                            <a [routerLink]="['/logout']" class="logout-link">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>