<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#collapseContent" aria-controls="collapseContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>

      <a routerLink="/home"><img src="assets/img/Logo_transparent.png" id="logo" /></a>


      <div class="header2 col-5 brandContainer">
          <a class="brand" routerLink="/home">Digital Archive of Literacy Narratives</a>
      </div>

      <div class="navbar-collapse collapse" id="collapseContent" aria-expanded="true">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item"> <a class="nav-link" routerLink="/home" routerLinkActive="active"> home </a> </li>
              <li class="nav-item"> <a class="nav-link" routerLink="/about" routerLinkActive="active"> about </a> </li>
              <li class="nav-item"> <a class="nav-link" href="https://thedaln.wordpress.com/" target="_blank"> DALN Blog </a> </li>
              <li class="nav-item"> <a class="nav-link" routerLink="/contact" routerLinkActive="active"> contact </a> </li>
              <li class="nav-item"> <a class="nav-link" routerLink="/create" routerLinkActive="active"> submit a literacy narrative </a> </li>
          </ul>
       </div>

</nav>
<router-outlet></router-outlet>
