<form [formGroup]="rightsForm" novalidate>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 pageTitle">
            CONSENT TO PARTICIPATE & RELEASE OF MATERIALS
        </div>
    </div>
    <div class="row" style="margin-top:3em;">
        <div class="col-md-8 col-md-offset-2 basicText" style="margin-bottom: 1em;">
            <p>
                Because we value your right to make an informed decision to participate in the DALN and to know how your materials and personal
                information will be used, we must obtain your consent before we accept a submission. Please select of the
                following links to read our Adult Consent Form or Under-18 Consent Form before completing this field. Then
                you must select either "Adult" or "Under-18" below to affirm that you have read and agreed to the terms of
                the appropriate consent form.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="radio" style="margin-bottom: 1em;">
                <label>
                    <input type="radio" name="rightsConsent" id="rightsConsent1" value="Adult" [(ngModel)]="rightsConsent" formControlName="rightsConsent"> I give consent as an Adult to release my materials and personal information
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="rightsConsent" id="rightsConsent2" value="Under-18" [(ngModel)]="rightsConsent" formControlName="rightsConsent"> I give consent as Under-18 to release my materials and personal information
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText center">
            <button class="btn btn-primary" [disabled]="!isValidForm()" type="submit" (click)="next()">NEXT</button>
        </div>
    </div>
</form>