<form [formGroup]="rightsForm" novalidate>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 pageTitle">
            CONSENT TO PARTICIPATE & RELEASE OF MATERIALS
        </div>
    </div>
    <div class="row" style="margin-top:3em;">
        <div class="col-md-8 col-md-offset-2 basicText" style="margin-bottom: 1em;">
            <div class="termsAndConditions">
                <h4>Informed Consent</h4>
                <br/>
                <p>
                    This is a consent form for contributing to the Digital Archive of Literacy Narratives (DALN) project. It contains important
                    information about this project and what to expect if you decide to contribute. If you are under 18 years
                    of age, your Legal Guardian must indicate his/her informed consent for this project by reading, understanding,
                    and either: A) signing the attached documents (if you are reading a printed copy of this form), or B)
                    clicking the appropriate consent button immediately below this text field (if you are reading an online
                    version of this form). Your contribution is voluntary. Please consider the information carefully. You
                    (or your Legal Guardian) should feel free to ask questions before making your decision whether or not
                    to contribute. If you (or your Legal Guardian) decide to contribute, you will be asked to agree to the
                    terms of this consent form and submit it to the DALN electronically, via post, or in person.
                </p>
                <br/>
                <h5>Purpose</h5>
                <br/>
                <p>The Digital Archive of Literacy Narratives (DALN) is designed to collect people’s literacy stories and related
                    literacy artifacts (e.g., photographs, poems, texts, home videos) and to store these in a permanent collection
                    which members of the public can access, study, and learn from. The purpose of this project is to establish
                    the first national archive that traces both digital and non-digital literacy practices over time. Such
                    an archive has great value for the public as a historical, cultural, and educational record. We want
                    to make it possible for everyone to contribute their story and have it recorded as part of this record.
                </p>
                <br/>
                <h5>Procedures/Tasks</h5>
                <br/>
                <p>If you wish to become a contributor to the DALN project, you can respond to the prompts included on this
                    form or view examples on the DALN site, compose your own literacy story, and submit it along with any
                    sample texts you have created (for example: sample essays, blogs, photographs, videos, songs). If you
                    are under 18 years of age, your Legal Guardian must indicate his/her informed consent for this project
                    by reading, understanding, and either signing the attached DALN forms or clicking on the appropriate
                    button below. Before you (or your Legal Guardian) submit your literacy narrative, you should read this
                    form to understand the nature of your contribution to this project and affirm your intent to contribute
                    by posting your literacy story and materials on our Web site where they will be made available to the
                    public.
                </p>
                <br/>
                <h5>Duration</h5>
                <br/>
                <p>The intent of the DALN is to make contributors’ stories available to the public in perpetuity.
                </p>
                <br/>
                <h5>Risks and Benefits</h5>
                <br/>
                <p> When you (or your Legal Guardian) submit a literacy narrative, the DALN Director will have access to some
                    information (such as your name, age, and contact information).
                    <strong>This information will only be used for contact purposes</strong>. You (or your Legal Guardian) can request
                    that your story be posted anonymously. You (or your Legal Guardian) should not include information in
                    your story that will put you or others at risk when it is made public. Despite the DALN Deed of Gift
                    or Creative Commons license, you (or your Legal Guardian) attach to your materials, these items will
                    reside on the web and will be publicly available. Thus, they could be used by people in ways that you
                    (or your Legal Guardian) do not intend. Anyone interested in contemporary literacy—including teachers,
                    students, parents, librarians, public policy makers, and members of the general public—stands to learn
                    a great deal about literacy from this archive of people's attitudes toward, and perceptions of, the role
                    of literacy in their lives.
                </p>
                <br/>
                <h5>Confidentiality</h5>
                <br/>
                <p>Although the DALN Director will have access to some contact and demographic information about contributors
                    (such as their age and geographic location),
                    <strong>this information will only be used for contact purposes</strong>. This information will not be used for
                    research purposes unless you (or your Legal Guardian) give permission for this information to be publicly
                    posted. You can also decide not to answer any questions that are presented on the DALN web site—including
                    name, age, email address, and contact information. Once you (or your Legal Guardian) have submitted your
                    materials to the DALN (either via the web or postal mail) and agreed that it can be publicly posted,
                    the information you have provided cannot be removed from the DALN. The literacy narrative you post on
                    the DALN is not confidential. It is available to anyone with access to the web and searchable by web
                    browsers.
                </p>
                <br/>
                <h5>Incentives</h5>
                <br/>
                <p> By contributing your literacy materials to the DALN, you (or your Legal Guardian) understand that the story
                    will become part of a public archive that has great value for the public as a historical, cultural, and
                    educational record.
                </p>
                <br/>
                <h5>Contributors’ Rights</h5>
                <br/>
                <p>All contributions to the DALN are voluntary. You (or your Legal Guardian) may refuse to contribute your literacy
                    narrative this project without penalty or loss of benefits to which you are otherwise entitled. If (or
                    your Legal Guardian) choose to contribute to this project and sign this form, you do not give up any
                    personal legal rights you may have as a contributor.
                </p>
                <br/>
                <h4>Deed of Gift</h4>
                <br/>
                <p>The Gift described below is given to the Digital Archive of Literacy Narrative (DALN) to become part of this
                    public online collection of literacy narratives with the following understandings:
                </p>
                <ul>
                    <li>
                        The DALN will store, preserve, and provide access to the gift in accordance with its archival practices.
                    </li>
                    <li>
                        The DALN will organize, index, and/or create a guide to the gift in accordance with its archival practices.
                    </li>
                    <li>
                        The DALN will put the gift on a web site that is accessible to members of the public.
                    </li>
                    <li>
                        The DALN may appropriately dispose of materials that, after receipt, are deemed unsuitable to this collection about literacy.
                    </li>
                </ul>
                <br/>
                <h5>Representation and Warranty </h5>
                <br/>
                <p>The Donor represents and warrants that he/she is the sole owner of the gift and has the full right, title,
                    and interest to make the donation, and that no agreement, assignment, sale, or encumbrance has been or
                    will be made or entered into which would conflict with this deed.
                </p>
                <br/>
                <h5>Assignment of Rights</h5>
                <br/>
                <p>The Donor will indicate they type and degree of copyright he or she wishes to retain with respect to the
                    gift, which includes the right to archive, display, and provide public access to it through the DALN.
                    Copyrights are indicated via the selection of a specific Creative Commons 4.0 International license,
                    which range in type from fully open (CC0) to more restrictive (Attribution-NonCommercial-NoDerivatives).
                </p>
                <br/>
                <h5>Access to the Archive</h5>
                <br/>
                <p> It is the Donor’s wish that the Gift be made available for research as soon as possible following its transfer
                    to the DALN. Materials in the DALN will be available for use by the public subject to policies about
                    license and copyright that are posted on the DALN website.
                </p>
                <br/>
                <h5>Processing the Collection</h5>
                <br/>
                <p>The DALN will create an archival finding aid for the collection, which will include a listing of all literacy
                    narratives.
                </p>
                <br/>
                <h5>Transfer to Another Format</h5>
                <p>The DALN reserves the right to transfer material to other formats, which in the opinion of DALN Director,
                    and according to national archival standards, will prolong the life of the material and/or facilitate
                    access and use. In all instances the original items will also be retained. The DALN also reserves the
                    right, within the limit of copyright provisions, to reproduce material from the collection for physical
                    and electronic exhibits.
                </p>
                <br/>
                <h5>Promoting Awareness of the Archive</h5>
                <br/>
                <p>The DALN will create a public access catalog/index for the collection within the Ohio Link system, which
                    will include an entry for this Gift. The entry for this Gift will also be included any regional, state,
                    national, or international bibliographic and archival databases to which Ohio Link contributes records.
                    All literacy narratives in the DALN collection and the DALN’s finding aid/index will be available on
                    its website which is accessible worldwide.
                </p>
                <br/>
                <h5>Additions to the Archive</h5>
                <br/>
                <p>The Contributor may make additions to the DALN collection subject to DALN policies. </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText">
            <div class="radio" style="margin-bottom: 1em;">
                <label>
                    <input type="radio" name="rightsConsent" id="rightsConsent1" value="Adult" [(ngModel)]="rightsConsent" formControlName="rightsConsent"> I give consent as an Adult to release my materials and personal information
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="rightsConsent" id="rightsConsent2" value="Under-18" [(ngModel)]="rightsConsent" formControlName="rightsConsent"> I give consent as Under-18 to release my materials and personal information
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 basicText center">
            <button class="btn btn-primary" [disabled]="!isValidForm()" type="submit" (click)="next()">NEXT</button>
        </div>
    </div>
</form>