<div class="row">
    <div class="col-md-10 col-md-offset-1 pageTitle">
        FORGOT PASSWORD
    </div>
</div>
<div class="row" style="margin-top:3em;">
    <div class="col-md-4 col-md-offset-4 basicText" style="margin-bottom: 1em;">
        <div class="loginBox">
            <div class="alert alert-danger" *ngIf="errorMessage!=null" role="alert">
                {{ errorMessage }}
            </div>
            <form novalidate>
                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <input type="email" class="form-control" maxlength="99" id="emailAddress" name="emailAddress" [(ngModel)]="email" placeholder="Email">
                </div>
                <div class="center" style="margin-top: 2.5em;">
                    <button type="submit" [disabled]="!isValidForm()" (click)="onNext()" class="btn btn-primary">SEND</button>
                </div>
                <div class="center" style="margin-top: 1.5em;">
                    <button type="button" [routerLink]="['/login']" class="btn btn-secondary">TRY LOGGING IN</button>
                </div>
            </form>
        </div>
    </div>
</div>