<div class="row">
    <div class="col-md-10 col-md-offset-1 pageTitle">
        PRE-SUBMISSION SUMMARY
    </div>
</div>
<div class="row center" *ngIf="errorMessage != null" style="margin-top:2em;">
    <div class="col-md-8 col-md-offset-2 basicText">
        <div class="alert alert-danger" role="alert">
            <strong>ERROR:</strong> {{errorMessage}}
        </div>
    </div>
</div>
<div class="row" style="margin-top:3em;">
    <div class="col-md-8 col-md-offset-2 basicText">
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Email Address
                <span class="glyphicon glyphicon-asterisk"></span>
            </label>
            <div class="col-sm-8">
                <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email">
                <div class="specialText">An email address is required to submit a literacy narrative</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 basicText center">
        <button class="btn btn-primary" [disabled]="!isValidForm()" type="button" (click)="next()">SUBMIT LITERACY NARRATIVE</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 basicText" style="margin-bottom: 1em;">
        <p>
            <span class="subTitle">LITERACY NARRATIVE TITLE | </span>
            {{data?.title}}
        </p>
        <p>
            <span class="subTitle">DESCRIPTION | </span>
            {{data?.description}}
        </p>
        <p>
            <span class="subTitle">RIGHTS CONSENT | </span>
            {{data?.rightsConsent}}
        </p>
        <p>
            <span class="subTitle">AUTHOR(S) | </span>
            <span *ngFor="let author of data?.contributorAuthor; let last = last">
                <span>{{author}}</span>
                <span *ngIf="!last">,</span>
            </span>
        </p>
        <p>
            <span class="subTitle">INTERVIEWER(S) | </span>
            <span *ngFor="let interviewer of data?.contributorInterviewer; let last = last">
                <span>{{interviewer}}</span>
                <span *ngIf="!last">,</span>
            </span>
        </p>
        <p>
            <span class="subTitle">AUTHOR BIRTH YEAR | </span>
            {{data?.creatorYearOfBirth}}
        </p>
        <p>
            <span class="subTitle">AUTHOR GENDER | </span>
            {{data?.creatorGender}}
        </p>
        <p>
            <span class="subTitle">DATE OF CREATION | </span>
            {{data?.dateCreated | date: 'MMMM d, y'}}
        </p>
        <p>
            <span class="subTitle">SUBJECT KEYWORDS | </span>
            <span *ngFor="let subj of data?.subject; let last = last">
                <span>{{subj}}</span>
                <span *ngIf="!last">,</span>
            </span>
        </p>
        <p>
            <span class="subTitle">DECADES COVERED | </span>
            <span *ngFor="let period of data?.coveragePeriod; let last = last">
                <span>{{period}}</span>
                <span *ngIf="!last">,</span>
            </span>
        </p>
        <p>
            <span class="subTitle">NATIONALITIES | </span>
            <span *ngFor="let nationality of data?.coverageNationality; let last = last">
                <span>{{nationality}}</span>
                <span *ngIf="!last">,</span>
            </span>
        </p>
        <p>
            <span class="subTitle">REGIONS | </span>
            <span *ngFor="let region of data?.coverageRegions; let last = last">
                <span>{{region}}</span>
                <span *ngIf="!last">,</span>
            </span>
        </p>
        <p>
            <span class="subTitle">STATE OR PROVINCES | </span>
            <span *ngFor="let state of data?.coverageStateProvince; let last = last">
                <span>{{state}}</span>
                <span *ngIf="!last">,</span>
            </span>
        </p>
        <p>
            <span class="subTitle">LANGUAGES | </span>
            <span *ngFor="let lang of data?.language; let last = last">
                <span>{{lang}}</span>
                <span *ngIf="!last">,</span>
            </span>
        </p>
    </div>
</div>