<div class="row">
    <div class="col-md-10 col-md-offset-1 pageTitle">
        PRE-SUBMISSION SUMMARY
    </div>
</div>
<div class="row" style="margin-top:3em;">
    <div class="col-md-8 col-md-offset-2 basicText" style="margin-bottom: 1em;">
        <p>
            Below is the information you provided
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 basicText" style="margin-bottom: 1em;">
        <p>
            <span class="subTitle">LITERACY NARRATIVE TITLE | </span>
            {{data?.title}}
        </p>
        <p>
            <span class="subTitle">DESCRIPTION | </span>
            {{data?.description}}
        </p>
        <p>
            <span class="subTitle">RIGHTS CONSENT | </span>
            {{data?.rightsConsent}}
        </p>
        <p>
            <span class="subTitle">AUTHOR(S) | </span>
            {{data?.contributorAuthor}}
        </p>
        <p>
            <span class="subTitle">INTERVIEWER(S) | </span>
            {{data?.contributorInterviewer}}
        </p>
        <p>
            <span class="subTitle">AUTHOR BIRTH YEAR | </span>
            {{data?.creatorYearOfBirth}}
        </p>
        <p>
            <span class="subTitle">AUTHOR GENDER | </span>
            {{data?.creatorGender}}
        </p>
        <p>
            <span class="subTitle">DATE OF CREATION | </span>
            {{data?.rightsConsent}}
        </p>
        <p>
            <span class="subTitle">SUBJECT KEYWORDS | </span>
            {{data?.subject}}
        </p>
        <p>
            <span class="subTitle">DECADES COVERED | </span>
            {{data?.coveragePeriod}}
        </p>
        <p>
            <span class="subTitle">NATIONALITIES | </span>
            {{data?.coverageNationality}}
        </p>
        <p>
            <span class="subTitle">REGIONS | </span>
            {{data?.coverageRegions}}
        </p>
        <p>
            <span class="subTitle">STATE OR PROVINCES | </span>
            {{data?.coverageStateProvince}}
        </p>
        <p>
            <span class="subTitle">LANGUAGES | </span>
            {{data?.language}}
        </p>
    </div>
</div>

<!-- <div class="container add-top-margin">

  <p>
    Summary of Post Submission
  </p>

  <div class="card detail-card">
    <div class="card-block">
      <h3>Information provided: </h3>

      <p>Post Title: {{data?.title}}</p>
      <p>Post description: {{data?.description}}</p>
      <p>Rights Consent: {{data?.rightsConsent}}</p>
      <p>Rights Relase: {{data?.rightsRelease}}</p>
      <p>Creator Gender: {{data?.creatorGender}}</p>
      <p>Creator Year of Birth: {{data?.creatorYearOfBirth}}</p>
      <p>Author(s): {{data?.contributorAuthor}}</p>
      <p>Interviewer(s): {{data?.contributorInterviewer}}</p>
      <p>Coverage Period: {{data?.coveragePeriod}}</p>
      <p>Nationality: {{data?.coverageNationality}}</p>
      <p>Spatial: {{data?.coverageSpatial}}</p>
      <p>State: {{data?.coverageStateProvince}}</p>
      <p>Subject: {{data?.subject}}</p>
      <p>language: {{data?.language}}</p>
    </div>
  </div>

  <div class="form-group">
    <form [formGroup]="emailForm" novalidate submt="next()">
      <label class="control-label" for="signupEmail">Email</label>
      <input id="signupEmail" required type="email" maxlength="100" class="form-control" [(ngModel)]="email" formControlName="email"
        [value]="_submitService.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

    </form>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!emailForm.valid" (click)="next()">Next Step</button>

  <div class="alert alert-info" role="alert" *ngIf="!emailForm.controls.email.valid">
    <strong> An email is required to make a post.</strong>
  </div>

  <div class="alert alert-danger add-top-margin" role="alert" *ngIf="errorMessage != null">
    <strong> {{errorMessage}} </strong>
  </div>

</div> -->