
<ngb-carousel>
    <template ngbSlide>
        <div class="image-background">
                   <img src="assets/images/slider/jimmy-carter.jpg" class="slider-img"/>
           </div>

        <div class="carousel-caption">
            <a href="https://thedaln.wordpress.com/2015/07/06/exciting-news-revealed-president-jimmy-carters-narrative/" target="_blank">
                <h3>Exciting News Revealed: President Jimmy Carter's Narrative!</h3>
                <p>“I’m afraid I don’t have a very good story.” This is how Jimmy Carter begins. It’s a humble beginning to a truly beautiful narrative</p>
            </a>
        </div>
    </template>
  <template ngbSlide>
    <img src="assets/images/slider/books.jpg" alt="DALN Intro" class="slider-img">
    <div class="carousel-caption">
      <h3>DALN</h3>
      <p>An Introduction to the Digital Archive of Literacy Narratives</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="assets/images/slider/slider-img02.jpg" alt="New DALN post" class="slider-img">
    <div class="carousel-caption">
        <a href="https://thedaln.wordpress.com/2017/01/14/the-ocean/" target="_blank">
            <h3>View new DALN Blog Post!</h3>
            <p>If you ever find yourself overwhelmed with self-doubt about any writing project you may be doing, then check out the literacy narrative titled “The Ocean.”</p>
        </a>
    </div>
  </template>

</ngb-carousel>

<!--
<div class="carousel">

 <ul class="images">

   <li *ngFor="let slide of slides">
     <h2>DALN</h2>
     <img src="assets/images/slider/slider-img01.jpg" alt="">
   </li>

 </ul>

</div> -->
