<div class="row">
    <div class="col-md-10 col-md-offset-1 pageTitle">
        CONTACT US
    </div>
</div>
<div class="row" style="margin:3em 0;">
    <div class="col-md-3 col-md-offset-1">
        <img class="headshotImg" src="./assets/img/MH1.jpg" />
    </div>
    <div class="col-md-7">
        <div class="contactTitle">MICHAEL HARKER</div>
        <div class="contactText">Michael Harker is an associate professor of English and teaches courses in composition, rhetoric, and literacy studies
            at Georgia State University. He is the author of The Lure of Literacy: A Critical Reception of the Compulsory
            Composition Debate (SUNY Press). He has published or has articles forthcoming in College Composition and Communication,
            Literacy in Composition Studies, Computers and Composition: An International Journal, and Computers and Composition
            Online. He is a Co-Director of the Digital Archive of Literacy Narratives (DALN).</div>
        <div class="contactEmail">
            <a href="mailto:mharker@gsu.edu">mharker@gsu.edu</a>
        </div>
    </div>
</div>
<div class="row" style="margin: 5em 0;">
    <div class="col-md-3 col-md-offset-1">
        <img class="headshotImg" src="./assets/img/mccorkle.jpg" />
    </div>
    <div class="col-md-7">
        <div class="contactTitle">BEN MCCORKLE</div>
        <div class="contactText">Ben McCorkle is an associate professor of English and teaches courses in composition, rhetoric, and digital media
            studies, primarily on The Ohio State University’s Marion campus. He is the author of the book Rhetorical Delivery
            as Technological Discourse: A Cross-Historical Study, as well as several articles in publications including Computers
            and Composition Online, Rhetoric Society Quarterly, and Composition Studies. He is currently serving as Co-Director
            of the DALN</div>
        <div class="contactEmail">
            <a href="mailto:mccorkle.12@osu.edu">mccorkle.12@osu.edu</a>
        </div>
    </div>
</div>

<daln-footer></daln-footer>