<div class="container" *ngIf="postDetail">
  <button class="btn btn-primary" type="submit" (click)="goBack()">Back</button>

  <section>


    <div class="row">
      <!-- Project info
      ================================================== -->


      <div class="col-4">

        <!-- Use the ul class. -->
        <ul class="metadata">
          <li>
            <h3>{{postDetail.title}}</h3>
            <p>{{postDetail.description}}</p>
          <li>
            <h3>Date Submitted</h3>
            <p>{{postDetail.dateCreated}}</p>
          </li>
          <li>
            <h3>Author</h3>
            <p *ngFor="let author of postDetail.contributorAuthor">{{author}}</p>
          </li>

        </ul>

        <br/>

        <ul class="tags">
          <li>
            <h3>Collections</h3>
            <p>All literacy narratives that are not part of a topical collection.</p>
          </li>
          <li>
            <h3>Tags/Subjects</h3>
            <ul class="tags-list">
              <!-- Track elements and limit tags with NgFor and TrackBy -->
              <li class="tag" *ngFor="let subject of postDetail.subject"><span
                class="label label-info">{{subject}}</span></li>
            </ul>

        </ul>

        <br/>

        <ul class="description">
          <li>
            <h3>Description</h3>
            <p>{{postDetail.description}}</p>
          </li>
        </ul>

        <br/>

        <h3>Media List</h3>
        <ul class="media" *ngFor="let asset of postDetail.assetList">

            <li (click)="onSelectedAsset(asset)">

              <!-- Change event to be click event that changes player embed link -->
              <h3>{{asset.assettitle}}</h3>
              <p>{{asset.assetType}}: {{asset.assetDescription}}</p>

              <!--<div *ngIf="selectedAsset">{{selectedAsset.assetID}}</div>-->
            </li>

          </ul>



        <div class="details" id="detail-drop" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="metadata">
                    <a data-toggle="collapse" data-parent="#detail-drop" href="#metadata-table">
                        Detailed Record
                    </a>
                </div>
            </div>



            <div id="metadata-table" class="collapsed collapse" role="tabpanel" style="height: auto;">
                <div class="card-block">
                 <table class="table table-sm table-bordered">
                     <thead >
                       <tr>
                        <th>Metadata Tag</th>
                        <th>Content</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                             <td>identifierUri</td>
                             <td>{{postDetail.identifierUri}}</td>
                        </tr>
                        <tr>
                             <td>dateAvailable</td>
                             <td>{{postDetail.dateAvailable}}</td>
                        </tr>
                        <tr>
                             <td>dateAccessioned</td>
                             <td>{{postDetail.dateAccessioned}}</td>
                        </tr>
                        <tr>
                             <td>dateCreated</td>
                             <td>{{postDetail.dateCreated}}</td>
                        </tr>
                        <tr>
                             <td>dateIssued</td>
                             <td>{{postDetail.dateIssued}}</td>
                        </tr>
                        <tr>
                             <td>contributorAuthor</td>
                             <td>
                                <ul>
                                 <li *ngFor="let author of postDetail.contributorAuthor">{{postDetail.contributorAuthor}}</li>
                                </ul>
                             </td>
                        </tr>
                        <tr>
                             <td>contributorInterviewer</td>
                             <td>
                                <ul>
                                 <li *ngFor="let author of postDetail.contributorInterviewer">{{postDetail.contributorInterviewer}}</li>
                                </ul>
                             </td>
                        </tr>

                    </tbody>
                 </table>
             </div>
            </div>

        </div>


      </div>

      <!-- Video
      ================================================== -->

          <div class="col-8">
              <app-player *ngIf="selectedAsset && (selectedAsset.assetType==='Audio/Video' || selectedAsset.assetType==='Audio')" [postAsset]="selectedAsset"></app-player>

        <!-- TODO: Remove style tag -->
        <!-- social begin here -->
        <ul class="socicon right" style="margin-bottom:10px;">
          <!-- <li>
            <a href="#" class="share-icon">
            </a>
          </li>
          <li>
            <a href="#" class="google">
            </a>
          </li>-->
          <li>
            <a href="https://www.facebook.com/dalnarchive/" class="facebook" target="_blank">
            </a>
          </li>
          <li>
              <a class="twitter twitter-share-button"
                href="https://twitter.com/intent/tweet?url=&text={{postDetail.title}}&via=dalnarchive" target="_blank"  ></a>
          </li>
          <!-- <li>
            <a href="#" class="flickr">
            </a>
          </li>
          <li>
            <a href="#" class="linkedin">
            </a>
          </li>
          <li class="last">
            <a href="#" class="vimeo">
            </a>
          </li> -->

        </ul>


        </div>


    </div>


  </section>






</div><!-- /container -->
<daln-footer></daln-footer>
