
<div class="container">
<div class="divider"></div>


 <!-- Latest project
================================================== -->

  <div class="row">
  <div class="span12 divider-strip">
      <h4>Selected Narratives</h4>
      <span class="strip-block"></span>
      </div>
  </div>

  <div id="list-container">

  <ul class="thumbnails">
      <li class="span3 item-block web all" *ngFor="#post of postList">
          <post-item class="" [postItem]=post></post-item>
    </li>
  </ul>
</div>



  <!-- Latest blog
================================================== -->

    <div class="row">

   <section>
          <div class="span12 divider-strip">
            <h4>Clients</h4>
            <span class="strip-block"><em>A list of partners, clients or logo designs</em></span></div>
          <div class="testimonialswrap">
            <div class="testimonials-controls"> <a href="#testimonials" class="next-l">1</a> <a href="#testimonials" class="prev-l">2</a> </div>
            <ul class="testimonials-slider" id="testimonials">
              <li class="testimonials-slide">
                <div class="span3"> <a href="http://www.logospire.com/users/1953" title=""><img src="assets/img/3351.jpg" alt=""></a> </div>
                <div class="span3"> <a href="http://www.logospire.com/users/1953" title=""><img src="assets/img/3350.jpg" alt=""></a> </div>
                <div class="span3"> <a href="http://www.logospire.com/users/1953" title=""><img src="assets/img/3354.jpg" alt=""></a> </div>
                <div class="span3"> <a href="http://www.logospire.com/users/1953" title=""><img src="assets/img/3353.jpg" alt=""></a> </div>
              </li>
              <li class="testimonials-slide">
                <div class="span3"> <a href="http://www.logospire.com/users/1953" title=""><img src="assets/img/3351.jpg" alt=""></a> </div>
                <div class="span3"> <a href="http://www.logospire.com/users/1953" title=""><img src="assets/img/3350.jpg" alt=""></a> </div>
                <div class="span3"> <a href="http://www.logospire.com/users/1953" title=""><img src="assets/img/3354.jpg" alt=""></a> </div>
                <div class="span3"> <a href="http://www.logospire.com/users/1953" title=""><img src="assets/img/3353.jpg" alt=""></a> </div>
              </li>
            </ul>
          </div>
        </section>

    </div>


</div>