

 <div class="container">

<!-- Portfolio filter
================================================== -->
<section>

<!-- Portfolio item
================================================== -->

<ul class="thumbnails portfolio" id="containment-portfolio">
    <li class="span3 item-block web all">
     <a href="assets/img/bootstrap-mdo-sfmoma-01.jpg" class="zoom" rel="prettyPhoto" title="Image Title"></a>
     <a href="#" class="link"></a>
      <a class="thumbnail" href="#">
        <img src="assets/img/example-sites/example1.jpg" alt="example-item">
      </a>
      <div class="desc">
      <a href="#"> Images </a>
       <p> <em>Portfolio Item Images</em> </p>
      </div>
    </li>
    <li class="span3 item-block video all">
     <iframe src="https://player.vimeo.com/video/28220269?title=0&amp;byline=0&amp;portrait=0" width="270" height="130" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <div class="desc">
      <a href="detail-page.html">Reading through Video Games</a>
       <p> <em>Description</em> </p>
      </div>
    </li>
   <li class="span3 item-block web all">
     <a href="assets/img/bootstrap-mdo-sfmoma-01.jpg" class="zoom" rel="prettyPhoto" title="Image Title"></a>
     <a href="#" class="link"></a>
      <a class="thumbnail" href="#">
        <img src="assets/img/example-sites/example1.jpg" alt="example-item">
      </a>
      <div class="desc">
      <a href="#"> Images </a>
       <p> <em>Portfolio Item Images</em> </p>
      </div>
    </li>
    <li class="span3 item-block web all">
     <a href="assets/img/bootstrap-mdo-sfmoma-01.jpg" class="zoom" rel="prettyPhoto" title="Image Title"></a>
     <a href="#" class="link"></a>
      <a class="thumbnail" href="#">
        <img src="assets/img/example-sites/example2.jpg" alt="example-item">
      </a>
      <div class="desc">
      <a href="#"> Images </a>
       <p> <em>Portfolio Item Images</em> </p>
      </div>
    </li>
    <li class="span3 item-block web all">
     <a href="assets/img/bootstrap-mdo-sfmoma-01.jpg" class="zoom" rel="prettyPhoto" title="Image Title"></a>
     <a href="#" class="link"></a>
      <a class="thumbnail" href="#">
        <img src="assets/img/example-sites/example2.jpg" alt="example-item">
      </a>
      <div class="desc">
      <a href="#"> Images </a>
       <p> <em>Portfolio Item Images</em> </p>
      </div>
    </li>
   <li class="span3 item-block video all">
     <a href="assets/img/bootstrap-mdo-sfmoma-01.jpg" class="zoom" rel="prettyPhoto" title="Image Title"></a>
     <a href="#" class="link"></a>
      <a class="thumbnail" href="#">
        <img src="assets/img/example-sites/example1.jpg" alt="example-item">
      </a>
      <div class="desc">
      <a href="#"> Images </a>
       <p> <em>Portfolio Item Images</em> </p>
      </div>
    </li>
    <li class="span3 item-block web all">
     <a href="assets/img/bootstrap-mdo-sfmoma-01.jpg" class="zoom" rel="prettyPhoto" title="Image Title"></a>
     <a href="#" class="link"></a>
      <a class="thumbnail" href="#">
        <img src="assets/img/example-sites/example1.jpg" alt="example-item">
      </a>
      <div class="desc">
      <a href="#"> Images </a>
       <p> <em>Portfolio Item Images</em> </p>
      </div>
    </li>
    <li class="span3 item-block video all">
     <iframe src="http://player.vimeo.com/video/28220269?title=0&amp;byline=0&amp;portrait=0" width="270" height="130" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <div class="desc">
      <a href="#">Vimeo Video </a>
       <p> <em>Portfolio Item Vimeo</em> </p>
      </div>
    </li>
   <li class="span3 item-block web all">
     <a href="assets/img/bootstrap-mdo-sfmoma-01.jpg" class="zoom" rel="prettyPhoto" title="Image Title"></a>
     <a href="#" class="link"></a>
      <a class="thumbnail" href="#">
        <img src="assets/img/example-sites/example1.jpg" alt="example-item">
      </a>
      <div class="desc">
      <a href="#"> Images </a>
       <p> <em>Portfolio Item Images</em> </p>
      </div>
    </li>
    <li class="span3 item-block audio video all">
     <a href="assets/img/bootstrap-mdo-sfmoma-01.jpg" class="zoom" rel="prettyPhoto" title="Image Title"></a>
     <a href="#" class="link"></a>
      <a class="thumbnail" href="#">
        <img src="assets/img/example-sites/example2.jpg" alt="example-item">
      </a>
      <div class="desc">
      <a href="#"> Images </a>
       <p> <em>Portfolio Item Images</em> </p>
      </div>
    </li>
    <li class="span3 item-block audio all">
     <audio src="assets/media/adg3com_electrofreak.mp3" type="audio/mp3" controls></audio>
      <div class="desc">
      <a href="#">Local Audio </a>
       <p> <em>Portfolio Item Audio</em> </p>
      </div>
    </li>
    <li class="span3 item-block video all">
     <div class="row">
      <div class="span3">
     <video src="assets/media/VH_videoAsset.flv" type="video/flv" controls></video>
     </div>
     </div>
      <div class="desc">
      <a href="detail-page.html"> Local Video </a>
       <p> <em>Portfolio Item Local Video</em> </p>
      </div>
    </li>
  </ul>
</section>
  <div class="divider"></div>

    </div><!-- /container -->
