<div class="row" id="list-container" *ngIf="postList">

    <!-- With Card Deck (differing post headers) -->
    <!-- <div class="card-deck col-lg-3 col-md-4 col-sm-6" *ngFor="let post of postList">
        <post-item class="media" [postItem]="post"></post-item>
    </div> -->


    <!-- Without Card Deck (same post headers but not on special cases) -->
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let post of pagedPosts">
        <post-item class="media" [postItem]="post"></post-item>
    </div>

    <app-pagination></app-pagination>

</div>
