<div class="child-container">

<div class="col-md-3 offset-md-2" *ngIf="showUtil">
<button class="btn btn-primary" type="submit" (click)="this._router.navigateByUrl('/home')">Go Back to Home Page</button>
</div>

<div id="search-component">

  <!-- Main Search Box -->
  <div class="row justify-content-center">
    <div class="col-md-6">
     <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#options">&#9660;</button>
            </span>
            <input #searchBox class="form-control" id="search-box" placeholder="Search the DALN..." [value]="searchService.searchQuery" (input)="searchService.searchQuery = $event.target.value"/>
           <button *ngIf="showUtil" class="btn btn-primary" type="submit" (keydown.enter)="onSearch(searchBox.value, results.value, pageNum.value)" (click)="onSearch(searchBox.value, results.value, pageNum.value)" >Search</button>
           <button *ngIf="!showUtil" class="btn btn-primary" type="submit" (keydown.enter)="onFakeSearch(results.value, pageNum.value)" (click)="onFakeSearch(results.value, pageNum.value)" >Search</button>
      </div>

    </div>

  </div>

  <!-- Search Options -->
  <div class="collapse" id="options">
  <div class="card card-block" [class.col-md-6]="showFull" [class.offset-md-3]="showFull">
      <div class="card-header" id="option-card">
          Options
      </div>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group ">
                <span class="input-group-addon">Results per page</span>
                <input #results class="form-control" id="results-size" type="number" min="1" max="50" [value]="searchService.resultsSize"/>
            </div>
        </div>
        <div class="col-md-4 offset-md-4">
            <div class="input-group">
                <span class="input-group-addon">Page Number</span>
                <input #pageNum class="form-control" id="pageNumber" type="number" min="0" max="50" [value]="searchService.pageNumber"/>
            </div>
        </div>
    </div>
  </div>
  </div>

<div class="row justify-content-center">
  <div class="no-results col-md-6 " *ngIf="noResults == true">
      <p>
          Sorry, there were no results for your query.
      </p>
  </div>
 </div>






</div>


<div class="container responsive_home" *ngIf="showUtil" >
    <div class="post_list">
        <post-list [postList]="posts"></post-list>
    </div>

    

</div>

<!-- <daln-footer *ngIf="showUtil"></daln-footer> -->

</div>
<router-outlet></router-outlet>
