<footer>
  <div class="container">
    <div class="row">
      <div class="span4">
        <h3>About</h3>
        <p>The DALN is a publicly available online archive of over <strong>7,000</strong> personal literacy narratives
that has international reach in terms of both submitters and end users. The archive consists
of a variety of files and media formats (text, video, audio) that together provide a historical
record of the literacy practices and values of contributors. The project, initially developed
in 2005, is currently directed by faculty from The Ohio State University and Georgia State
University.</p>
        <h3>Connect With Us</h3>
        <!-- social begin here -->
        <ul class="socicon left">
          <li><a href="#" class="share-icon"> </a></li>
          <!-- <li><a href="#" class="google"> </a></li> -->
          <li><a href="#" class="facebook"> </a></li>
          <li><a href="#" class="twitter"> </a></li>
          <!-- <li><a href="#" class="flickr"> </a></li> -->
          <!-- <li><a href="#" class="dribbble"> </a></li> -->
          <li><a href="#" class="linkedin"> </a></li>
          <!-- <li class="last"><a href="#" class="vimeo"> </a></li> -->
        </ul>
      </div>
      <!-- tweets begin here -->
      <!-- <div class="span4">
        <h3>Latest Tweets</h3>
        <div class="tweets">
          <p> Loading Tweets... </p>
          <ul id="tweet-list" class="span4">
          </ul>
        </div>
      </div> -->
      <div class="span4"> <!-- flickr begin here -->
        <h3>From Flickr</h3>
        <script type="text/javascript"
                src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;source=user&amp;user=52617155@N08&amp;layout=x&amp;display=random&amp;size=s"></script>
      </div>
      <div class="span12 copy"> LICENSE INFO </div>
    </div>
  </div>
</footer>
