
<div class="container responsive_home">

    <!-- Search Component -->
    <!-- <app-search2 (searchResults)="displayResults($event)"></app-search2> -->
    <app-search2 (showHomePage)="showHomePage($event)"></app-search2>

    <app-slider *ngIf="showPage === true"></app-slider>


</div>


<div class="container responsive_home">

        <div class="featured-post-list" *ngIf="showPage === true">
            <h3>Featured Posts</h3>
            <hr />
            <post-list [getdev]="getdev" [postList]="posts"></post-list>
        </div>


</div>

<div class="container responsive_home">
    <div class="center add-top-margin">
      <app-fancy-loader [loading]="loading" [failed]="failed"></app-fancy-loader>
    </div>
</div>




<daln-footer></daln-footer>
<router-outlet></router-outlet>
