<div class="row highlightBg">
    <div class="col-md-4 col-md-offset-1">
        <div class="dalnBox">
            <div>D&nbsp;A</div>
            <div>N&nbsp;L</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="dalnTextBox">
            <div class="title">WELCOME</div>
            <div class="boxSpecial">Lorem ipsum dolor sit amet</div>
            <div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
        <button class="btn btnRounded pushIn" type="button">LEARN MORE</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="headerText">FEATURED LITERACY NARRATIVES</div>
    </div>
</div>
<div class="row" style="margin-bottom: 5em;">
    <div class="col-md-12">
            <post-list [getdev]="getdev" [postList]="posts"></post-list>
    </div>
</div>
<daln-footer [mobile]="mobile"></daln-footer>

<!-- <div class="container responsive_home">
    <app-search2 [showPagination]="!showPage" (showHomePage)="showHomePage($event)"></app-search2>
</div>

<div class="container responsive_home">
    <div class="featured-post-list" *ngIf="showPage === true">
        <h3>Featured Posts</h3>
        <hr />
        <post-list [getdev]="getdev" [postList]="posts"></post-list>
    </div>
</div>

<div class="container responsive_home">
    <div class="center add-top-margin">
        <app-fancy-loader [loading]="loading" [failed]="failed"></app-fancy-loader>
    </div>
</div>


<router-outlet></router-outlet> -->