


<div id="search-component" class="col-md-6 offset-md-4 col-sm-4">
 <form class="form-inline">

  <input class="form-control from-control-lg" #searchBox id="search-box" placeholder="Search the DALN..." (keydown.enter)="onSearch(searchBox.value)" />
  <button class="btn btn-primary" type="submit" (click)="onSearch(searchBox.value)" >Search</button>
  <div class="no-results" *ngIf="noResults == true">
      <p>
          Sorry, there were no results for your query.
      </p>
  </div>

  </form>

</div>
<!-- Add a little div here to custom search parameters like page and size. Start with a default. -->
