<footer>
  <div class="row footerHighlight">
    <div class="col-md-12">
        DON'T FORGET TO KEEP TO TWEET US OR POST ON OUR FACEBOOK PAGE
    </div>
  </div>
  <div class="row footer">
    <div *ngIf="!mobile" class="col-md-4 col-md-offset-2">
      <a class="twitter-timeline" data-height="200" data-theme="dark" href="https://twitter.com/dalnarchive" target="_blank">Tweets by dalnarchive</a>
    </div>
    <div *ngIf="!mobile" class="col-md-4">
      <div class="fb-page" data-href="https://www.facebook.com/dalnarchive/" data-tabs="timeline" data-height="200" data-small-header="false"
        data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
        <div cite="https://www.facebook.com/dalnarchive/" class="fb-xfbml-parse-ignore">
          <a class="headerText" href="https://www.facebook.com/dalnarchive/">Facebook DALN</a>
        </div>
      </div>
    </div>
  </div>
</footer>
